* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  margin-left: 125px;
}

.contact-div {
  height: 800px;
  /* background-color: lightgoldenrodyellow; */
  background-image: url('../images//contactimgorange.jpg');
  display: flex;
  justify-content: center;
}

input {
  border: none;
  outline: none;
  margin-top: 10px;
}
textarea.contact-message {
  min-height: 169px;
  padding: 19px 35px 0 35px;
  overflow: auto;
  resize: none;
}

textarea {
  outline: none;
  border: none;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-align: start;
  margin-top: 10px;
  border: 2px solid orange;
  width: 500px;
}

input.contact-input {
  height: 62px;
  padding: 0 35px 0 35px;
}

input.contact-message {
  height: 62px;
  padding: 0 35px 0 35px;
}

.contact-input {
  position: relative;
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 31px;
  font-size: 18px;
  color: black;
  line-height: 1.2;

  border: 2px solid orange;
}

.contact-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
  min-width: 150px;
  height: 62px;
  background-color: white;
  border-radius: 31px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
  margin-top: 10px;
  border: 2px solid orange;
  margin-left: 150px;
}
