/* JUST FOR DEMO PURPORSES, REPLACE WITH YOUR OWN CODE */

#demo {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#idBrew {
  width: 100vw;
  height: 100vh;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: left;
}

#layoutIdBrewery {
  width: 100vw;
  height: 100vh;
  /* margin-top: 100px; */
  display: flex;
  justify-content: space-around;
}

#idBrewImage {
  padding: 75px;
  max-width: 100%;
  height: auto;
}



/* END DEMO */
